.rentalHalls {
    width: 100%;
    height: 700px;
    background-image: linear-gradient(#00000088, #00000081), url(./IMAGES/84a206.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.descriptionText {
    font-size: 40px;
    color: #fff;
    padding-top: 40px;
    padding-bottom: 10px;
    letter-spacing: 2px;
    margin-left: 5%;
    padding-left: 5px;
}

.details {
    width: 90%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 5%;
    flex-wrap: wrap;
}

.priceDetail,
.equipementDetails,
.featuesDetails {
    width: 330px;
    height: auto;
    min-height: 450px;
    border-radius: 5px;
    margin-top: 40px;
    position: relative;
    background: linear-gradient(135deg, rgb(218, 233, 255) 30%, rgba(179, 209, 253, 0.137));
    flex-grow: 1;
    margin: 5px;
    min-width: 300px;
}

.dtailIcon {
    width: 40px;
    margin-top: 20px;
    margin-left: 15px;
}

.detailTitle {
    font-size: 25px;
    color: #333;
    padding-top: 0px;
    padding-left: 15px;
}

.detailElement {
    font-size: 18px;
    color: #333;
    padding-top: 10px;
    padding-left: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.detailElement>img {
    width: 35px;
    padding-right: 4px;
}

.hallsDescriptionContainer {
    direction: rtl;
    width: 90%;
    margin-left: 5%;
}

.hallsDescription {
    width: 300px;
    height: 50px;
    font-size: 20px;
    color: #fff;
    border-radius: 5px;
    background: linear-gradient(135deg, rgb(124, 177, 255), rgba(179, 209, 253, 0));
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    cursor: pointer;
}

@media (max-width:1130px) {
    .rentalHalls {
        height: 900px;
    }
    .priceDetail {
        background: linear-gradient(135deg, rgba(179, 209, 253, 0.836), rgb(218, 233, 255));
    }
    .priceDetail,
    .equipementDetails,
    .featuesDetails {
        min-height: 380px;
    }
    .featuesDetails {
        height: auto;
        min-height: auto;
    }
    .featuesDetails>p:last-of-type {
        padding-bottom: 30px;
    }
}

@media (max-width:770px) {
    .rentalHalls {
        height: 1350px;
        background-position: center !important;
    }
    .priceDetail {
        background: linear-gradient(135deg, rgb(218, 233, 255) 30%, rgba(179, 208, 253, 0.219));
    }
    .priceDetail,
    .equipementDetails,
    .featuesDetails {
        height: auto;
        min-height: auto;
        margin-left: 0;
        margin-right: 0;
    }
    .priceDetail>p:last-of-type {
        padding-bottom: 30px;
    }
    .equipementDetails>p:last-of-type {
        padding-bottom: 30px;
    }
    .hallsDescription {
        width: 100%;
        margin-right: 0px;
    }
}