.blockTitle {
    width: 1070px;
    font-size: 30px;
    color: #222;
    padding-top: 40px;
    padding-bottom: 30px;
    letter-spacing: 2px;
    margin-left: 50%;
    transform: translateX(-50%);
}

@media (max-width:1070px) {
    .blockTitle {
        width: 700px;
    }
}

@media (max-width:730px) {
    .blockTitle {
        width: 330px;
    }
}

@media (max-width:330px) {
    .blockTitle {
        width: 100%;
        padding-left: 40px;
    }
}

.backgroundTitle {
    position: absolute;
    font-size: 700px;
    font-weight: 800;
    letter-spacing: 30px;
    z-index: 0;
    color: #efd5f8;
    top: 0;
    word-break: break-all;
    line-height: 700px;
    text-align: center;
}

.backgroundTitle::selection {
    background: none;
    color: #efd5f8;
}

.serviceContainer {
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 80px;
    position: relative;
}

.service {
    width: 330px;
    height: 350px;
    background-color: rgba(245, 245, 245, 0.686);
    border-radius: 5px;
    margin-top: 40px;
    position: relative;
    margin: 20px;
    background: linear-gradient(135deg, rgb(247, 247, 247) 30%, rgba(255, 255, 255, 0.3));
}

.service:hover {
    background-color: #f8f8f8;
    cursor: pointer
}

.service>img {
    width: 30px;
    margin-top: 20px;
    margin-left: 20px;
}

.serviceTitle {
    font-weight: 600;
    color: #222;
    padding-top: 10px;
    padding-left: 24px;
    font-size: 22px;
    letter-spacing: 2px;
}

.serviceDescription {
    font-family: 'OswaldLight' !important;
    font-size: 17px;
    font-weight: 300;
    color: #222;
    padding: 24px;
    padding-top: 15px;
    letter-spacing: 1px;
    line-height: 25px;
}

.learnMoreAboutService {
    position: absolute;
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: 400;
    color: rgb(132, 0, 255);
    padding: 24px;
    cursor: pointer;
    bottom: 20px;
}

.learnMoreAboutService>img {
    width: 28px;
    margin-left: 10px;
    padding-top: 8px;
}
